[Unit]
Description=Mosquitto MQTT Broker
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/library/eclipse-mosquitto:2.1.2-alpine
ContainerName=mosquitto

PublishPort=1883:1883

Volume=%h/mosquitto/config:/mosquitto/config:Z
Volume=%h/mosquitto/data:/mosquitto/data:Z
Volume=%h/mosquitto/log:/mosquitto/log:Z

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
